#yearList {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	list-style-type: none;

	>li {
		overflow: hidden;
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20%;
		height: 20%;
		font-size: 1rem;

		>* {
			opacity: 0;
			transition: opacity 3s ease-in-out;
		}

		>time {
			opacity: 0;

			mix-blend-mode: color-burn;
			color: grey;

			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			padding-top: 0.5em;

			z-index: 10000;
			font-family: "BebasNeue", fantasy;
			font-weight: normal;
			font-size: 6em;
		}
		>img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			object-fit: cover;
		}

		&.i1, &.i2, &.i3, &.i4, &.i5 {
			time.on {
				opacity: 1;
			}
		}

		&.i1 {
			>img:nth-of-type(1) {
				opacity: 1;
			}
		}
		&.i2 {
			>img:nth-of-type(1) {
				opacity: 1;
			}
			>img:nth-of-type(2) {
				opacity: 1;
			}
		}
		&.i3 {
			>img:nth-of-type(1) {
				opacity: 1;
			}
			>img:nth-of-type(2) {
				opacity: 1;
			}
			>img:nth-of-type(3) {
				opacity: 1;
			}
		}
		&.i4 {
			>img:nth-of-type(1) {
				opacity: 1;
			}
			>img:nth-of-type(2) {
				opacity: 1;
			}
			>img:nth-of-type(3) {
				opacity: 1;
			}
			>img:nth-of-type(4) {
				opacity: 1;
			}
		}
		&.i5 {
			>img:nth-of-type(1) {
				opacity: 1;
			}
			>img:nth-of-type(2) {
				opacity: 1;
			}
			>img:nth-of-type(3) {
				opacity: 1;
			}
			>img:nth-of-type(4) {
				opacity: 1;
			}
			>img:nth-of-type(5) {
				opacity: 1;
			}
		}
	}
}
